@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-monospace">Welcome to Job Portal</h1>
</div>
<div class="text-center">
    <img alt="job-portal" src="https://clipart-library.com/img1/1163576.png"/>
</div>