@model IEnumerable<ArticleViewModel>;
@{
    ViewBag.Title = "All Articles";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


@if (!Model.Any())
{
    <h2 class="text-center">No articles found!</h2>
}

<div class="row">
    @foreach (var article in Model)
    {
        <partial name="_ArticlePartial" model="@article" />
    }
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalR-update.js"></script>