@model IEnumerable<ArticleViewModel>;

@{
    ViewBag.Title = "My Articles";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">You don't have any articles!</h2>
}

<div class="row">
   @foreach (var article in Model)
       {
           <partial name="_ArticlePartial" model="@article" />
       }
</div>