@model JobAddFormModel

@{
    ViewData["Title"] = "Edit Job";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<partial name="_JobAddPartial" model="@Model"/>

@section Scripts
{
    <script>
            tinymce.init({
                selector: 'textarea#Description',
                menubar: false,
                content_css: 'css/content.css'});
        </script>
        <script>
            tinymce.init({
                selector: 'textarea#Requirements',
                menubar: false,
                content_css: 'css/content.css'});
        </script>
    <partial name="_ValidationScriptsPartial" />
}