@model IEnumerable<JobViewModel>;

@{
    ViewData["Title"] = "My job applications";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h4 class="text-center">You do not have any applications yet!</h4>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary mt-1 align-self-center" asp-controller="Job" asp-action="All">See all jobs</a>
    </div>
}
else
{
    <div class="col">
        @foreach (var job in Model)
        {
            <partial name="_JobPartial" model="job" />
        }
    </div>
}